 @charset "utf-8"; 
html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}
body{
    width: 100%;
    max-width: 600px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* background-image: url('../img/page0/p0bg.png'); */
    overflow: hidden;
    font-family: '微软雅黑';
    -webkit-font-smoothing: antialiased;
}
a{
	text-decoration:none;
}
.p9{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
/*    background: url("../img/last/p9bg.png");*/
/*    background-size: 100% 100%;*/
}
.p9-box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    /* -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); */
}
.sharehint{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 100;
	display: none;
}
.p9-bg-down{
    position: absolute;
	bottom: -25%;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
	animation: p9-bg-down 1s linear normal;
}
@keyframes p9-bg-down{
	from{ bottom: 50%; }
	to{ bottom: -25%; }
}
.p9-title{
    position: absolute;
    width: 85%;
    top: 3%;
    left: 9%;
    margin-bottom: 0;
    z-index: 30;
}
.p9-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 13rem;
    -webkit-animation: lastPageR 1.5s;
    animation: lastPageR 1.5s;
    z-index: 2;
    animation: p9-right 1s linear;
}
@keyframes p9-right{
	from{ right: -20%; }
	to{ right: 0%; }
}
.p9-table{
    position: absolute;
    top: 63%;
    right: 0;
    width: 90%;
    z-index: 2;
}
.p9-car{
    position: absolute;
    top: 42%;
    width: 90%;
    left: 5%;
    z-index: 2;
    animation: p9-car 0.75s linear;
}
@keyframes p9-car{
	from{top: 42%; width: 50%; left: 30%;}
	to{top: 42%; width: 90%; left: 5%;}
}
.p9-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: 1;
    -webkit-animation: lastPageWhite 1.5s;
    animation: lastPageWhite 1.5s;
}
.p9-inputBox{
    position: absolute;
    max-width: 600px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20%;
    z-index: 6;
}
.p9-inputmessageBox{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.p9-message{
	position: absolute;
    display: inline-block;
    width: 100%;
    left: 5%;    
 }
.p9-input-box{
    display: inline-block;
    position: relative;
    width: 45%;
    height: 2.5rem;
    line-height: 2.5rem;
}
.p9-input-box b{
    position: absolute;
    left: 1rem;
    display: inline-block;
    height: 2.2rem;
    margin-top: 0.3rem;
    line-height: 2.2rem;
    font-size: 10px;
    font-weight: 500;    
}
input{
    outline: none;
}
.p9-input-box input{
    display: inline-block;
    width: 50%;
    left: 5%;
    height: 2.52rem;
    line-height: 2.52rem;
    padding-left: 4rem;
    padding-right: 1rem;
    border: 1px dotted #444;
    background-color: white;
    border-radius: 0.5rem;    
}
.p9-input-box select{
    display: block;
    width: 50%;
    height: 3rem;
    padding-left: 20%;
    border: 1px dotted #444;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;    
}
.last-name-bx{
    margin-left: -20%;
}
.span-third{
    margin-top: 0.5rem;
    display: block;
    width: 60%;    
}
.span-third input{
    display: inline-block;
    width: 80%;    
}
.p9-try{
	position: absolute;
	bottom: 48%;
/*	margin-top: -15%;*/
	margin-left: 64%;
    display: inline-block;
    border: 1px dotted #444;
    border-radius: 0.5rem;
    width: 26%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 14px;

    color: #444 !important;
    height: 5.5rem !important;
    line-height: 5.5rem !important;

    background-color: white;    
}
.p9-hr{
    margin: 1rem 0;
    width: 90%;
    height: 2px;
    background-color: white;    
}
.p9-btn-box{
    width: 90%;
    overflow: hidden;   
    
}
.p9-btn-box a{
    display: inline-block;
    border: 1px dotted #444;
    border-radius: 0.5rem;
    width: 26%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 14px;    
}
.p9-again{
    float: left;
    background-color: #47C0D9;
    color: white;   
}
.p9-btn-alert{
    float: right;
    background-color: #47C0D9;
    color: white;    
}